{% extends "voc2.j2" %}

{% block summary %}
<p>
Het vocabularium OSLO-Generiek focust op termen van algemeen nut, meerdere OSLO-vocabularia verwijzen er naar of het gaat om termen die bruikbaar zijn voor domeinen buiten OSLO.
</p><p>
OSLO-Generiek definieert deze termen of voegt elementen aan de definitie toe (bv een Nederlandstalig label) als het bestaande termen betreft.
</p><p>
De termen beschrijven aspecten van generieke thema’s zoals identificatie, tijd, herkomst, eenheden, contactinfo etc.
</p><p>
Een aantal termen komt uit de vocabularia waarop OSLO zich baseert. Bv Formeel Kader komt uit het <a href="https://joinup.ec.europa.eu/asset/core_public_service/description">ISA Core Public Service vocabularium</a> en werd voorzien van attributen in het <a href="https://joinup.ec.europa.eu/asset/cpsv-ap/asset_release/core-public-service-vocabulary-application-profile-v20">applicatieprofiel voor een dienstencataloog</a>, eveneens van ISA.
</p><p>
Voor identificatie van objecten los ve specifieke data-uitwisseling is een datatype Identificator voorzien, net als in de ISA Core vocabularia gemapt op het datatype Identifier uit het <a href="https://www.w3.org/TR/vocab-adms/">W3C ADMS vocabularium</a>. De mogelijkheid bestaat om het type identificator op te geven en/of om de identificator te structureren. Er is een entiteit Object, gemapt op <a href="https://www.w3.org/ns/prov#Entity">Entity</a> die standaard voorzien is ve identificator en de mogelijkheid biedt om de herkomst ve object te beschrijven. Objecten met een levensloop (uit een basisregister of authentieke bron) erven hier typisch van over.
</p><p>
Het modelleren van historiek is iets voor implementatiemodellen. Dat neemt niet weg dat bij het modelleren ve actuele toestand ook temporele termen nodig zijn. Een deel is al beschikbaar als primitief datatype voor het modelleren ve moment (xsd:Date, xsd:DateTime) of een duur (xsd:Duration). We voegden oa nog Periode en Tijdschema toe (deze laatste gebaseerd op <a href="https://schema.org/Schedule">Schedule</a> uit schema.org). Ook Versie is voorzien, niet voor historiek maar bv om actuele objecten aan specifieke versies te kunnen koppelen (bv de mandaten ve bestuursorgaan tijdens zijn bestuursperiode).
</p><p>
Voor herkomstgegevens verwijst OSLO-Generiek naar <a href="https://www.w3.org/TR/prov-o/">W3C PROV-O</a>. Er zijn kenmerken voorzien om te beschrijven wanneer, door wie en waarom een versie ve object is aangemaakt of vernietigd.
</p><p>
In OSLO-Generiek vinden we een entiteit Contactinfo, die net als in de ISA Core vocabularia mapt op <a href="http://schema.org/ContactPoint">ContactPoint</a> in schema.org. OSLO voegt termen toe zoals aanschrijfvorm en (contact)adres, ook afkomstig uit bestaande vocabularia.
</p><p>
Veel modellen beschrijven ook de ruimtelijke kenmerken van objecten, met dat doel voorziet OSLO-Generiek een ganse resem geografische termen oa Geometrie, Plaats (bv AdminstratieveEnheid), de meer algemene term Locatie, GeografischeNaam, GeografischePositie. Geometrie verwijst naar de overeenstemmende term in ISA Core Location maar werd verder uitgebreid met de subklassen Punt, Lijnstring en Polygoon (termen uit het <a href="http://schemas.opengis.net/sf/1.0/simple_features_geometries.rdf">OGC Simple Features vocabularium</a>) om het soort geometrie te kunnen vastleggen. 
</p><p>
Ook algemeen bruikbaar is het datatype KwantitatieveWaarde, gemodelleerd op <a href="https://schema.org/QuantitativeValue">QuantitativeValue</a> uit schema.org. Getal is voorzien om de waarde op te geven, StandaardEenheid voor de eenheid.
</p><p>
Verder zijn oa voorzien: specialisaties Taalstring en GetypeerdeString van xsd:String, FormeelKader, Jurisdictie, een abstracte Agent, Adresvoorstelling, Gebeurtenis, Activiteit, Document en Documentonderdeel.
</p>
{% endblock %}

{% block status %}<p>Een lijst van de recentste vocabularia is terug te vinden op
<a href="https://data.vlaanderen.be/ns">https://data.vlaanderen.be/ns</a>.</p><br />

<p>Dit document is een offici&#235;le specificatie van een vocabularium en biedt een gedeeld begrippenkader voor bepaalde concepten. Deze specificatie dient om de definitie, gebruik, domein en bereik van de RDF termen binnen dit domein te verduidelijken. De termen gedefinieerd in dit vocabularium zijn persistent en zullen bijgevolg nooit verdwijnen, noch zullen de definities veranderen behalve dan om een bestaande definitie verder te verduidelijken. Termen kunnen echter wel als verouderd worden bestempeld en vervangen worden in nieuwere versies van deze specificatie.</p>

<p>Dit document werd gepubliceerd door de werkgroep Datastandaarden OSLO van het stuurorgaan Vlaams Informatie- en ICT-beleid.
Deze specificatie maakt geen onderdeel uit van een standaardisatietraject. De termen die opgenomen zijn in het OSLO-Generiek vocabularium werden bediscussieerd en erkend in andere OSLO thematische werkgroepen en vervolgens opgenomen in dit vocabularium wegens hun generiek herbruikbaar karakter.</p>

<p>Feedback op deze specificatie kan gegeven worden als een topic in onze <a href="https://github.com/Informatievlaanderen/OSLO-Public-Discussion">publieke reviewdiscussielijst</a>.</p>
{% endblock %}
